#page__landing #header {
    background-color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #header .wrapper {
    max-width: 1366px;
    padding: var(--padding-v) var(--padding-h);
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: space-between;
}

#page__landing #header #headline {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#page__landing #header .title {
    flex-shrink: 1;

    font-size: var(--h1);
    line-height: 80px;
}

#page__landing #header .sub-title {
    color: var(--gray);
}

#page__landing #header .highlight {
    color: var(--primary);
}

#page__landing #header .icon {
    flex-shrink: 0;
}

#page__landing #header .icon svg {
    width: 400px;
    height: auto;
    display: block;
}

#page__landing #affiliations {
    padding: 48px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page__landing #affiliations .wrapper {
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#page__landing #affiliations .title {
    color: var(--d-gray);
    font-size: var(--h2);
}

#page__landing #affiliations .sub-title {
    color: var(--gray);
}

#page__landing #affiliations #logo-affiliates {
    width: 100%;
    padding-top: 28px;
    overflow: hidden;
    white-space: nowrap;
}

#page__landing #affiliations #logo-affiliates .logo-icons {
    padding: 0 66px;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

#page__landing #affiliations #logo-affiliates .logo-icons.copy {
    display: none;
}

#page__landing #affiliations #logo-affiliates .logo-icons svg {
    width: auto;
    height: 64px;
    display: inline-block;
    transition: 0.2s;
}

#page__landing #target-clients {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #target-clients .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 0 var(--padding-h);
}

#page__landing #target-clients .headline {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page__landing #target-clients .headline .title {
    color: var(--d-gray);
    font-size: var(--h2);
    max-width: 550px;
}


#page__landing #target-clients .headline .sub-title {
    color: var(--gray);
}

#page__landing #target-clients #clients {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#page__landing .features {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing .features .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 0 var(--padding-h);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#page__landing .features .wrapper .graphics {
    flex-shrink: 0;
}

#page__landing .features .wrapper svg {
    height: auto;
    width: 500px;
}

#page__landing .features .wrapper .feature {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#page__landing .features .wrapper .feature .title {
    color: var(--d-gray);
    font-size: var(--h2);
}

#page__landing .features .wrapper .feature .description {
    color: var(--gray);
}

#page__landing #analytics {
    background-color: var(--silver);
    margin-top: 48px;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #analytics .wrapper {
    padding: 0 var(--padding-h);
    max-width: 1366px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#page__landing #analytics .wrapper .headline {
    flex-shrink: 1;
}

#page__landing #analytics .wrapper .title {
    color: var(--d-gray);
    font-size: var(--h2);
}

#page__landing #analytics .wrapper .title .highlight {
    color: var(--primary)
}

#page__landing #analytics .wrapper .description {
    color: var(--black);
}

#page__landing #analytics .wrapper .information {
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
    justify-content: end;
}

#page__landing #analytics .wrapper .information .item {
    width: calc(50% - 48px);
    display: flex;
    gap: 10px;
    align-items: center;
}

#page__landing #analytics .wrapper .information .item .graphics {
    flex-shrink: 0;
}

#page__landing #analytics .wrapper .information .item .graphics svg {
    height: 60px;
    width: auto;
}

#page__landing #analytics .wrapper .information .item .data .number {
    font-size: var(--h3);
    color: var(--d-gray);
}

#page__landing #analytics .wrapper .information .item .data .tag {
    color: var(--gray);
    margin-top: -5px;
}

#page__landing #reviews {
    background-color: var(--silver);
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #reviews .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 80px var(--padding-h);
    display: flex;
    gap: 54px;
    justify-content: space-between;
}

#page__landing #reviews .wrapper .graphics img {
    min-width: 400px;
    height: auto;
}

#page__landing #reviews .wrapper .information {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: space-between;
}

#page__landing #reviews .wrapper .information .description,
#page__landing #reviews .wrapper .information #company {
    color: var(--gray);
}

#page__landing #reviews .wrapper .information #name {
    color: var(--primary);
    font-size: var(--fn-1);
}

#page__landing #reviews .wrapper .information .more  {
    display: flex;
    gap: 22px;
}

#page__landing #reviews .wrapper .information .more .logos {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: space-between;
}

#page__landing #reviews .wrapper .information .more .logo {
    height: 56px;
    width: auto;
}

#page__landing #reviews .wrapper .information .more  .action {
    font-size: var(--fn-1);
    font-weight: 600;
    display: flex;
    align-items: center;
}

#page__landing #reviews .wrapper .information .more  .action button {
    padding: 0;
}

#page__landing #blog {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #blog .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 80px var(--padding-h);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

#page__landing #blog .wrapper .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page__landing #blog .wrapper .headline .title {
    color: var(--d-gray);
    font-size: var(--h2);
}

#page__landing #blog .wrapper .headline .sub-title {
    color: var(--gray);
    max-width: 650px;
}

#page__landing #blog .wrapper #blog-articles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 100px;
    justify-content: space-between;
}

#page__landing #demo {
    background-color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #demo .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 80px var(--padding-h);
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

#page__landing #demo .wrapper .title {
    font-size: var(--h1);
    color: var(--black);
    max-width: 700px;
    line-height: 110%;
    text-align: center;
}

footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: var(--padding-h);
    display: flex;
    justify-content: space-between;
}

footer .wrapper #legal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .wrapper #legal svg {
    height: 40px;
    width: auto;
}

footer .wrapper #legal #rights {
    color: var(--white);
    font-size: var(--fn-3);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .wrapper #legal #links {
    display: flex;
    gap: 30px;
    align-items: center;
}

footer .wrapper #legal #links a {
    background-color: var(--gray);
    border-radius: 50%;
    padding: 3px;
    position: relative;
    overflow: hidden;
}

footer .wrapper #legal #links a .color {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s;
    top: 100%;
    left: 0;
}

footer .wrapper #legal #links a:hover .color {
    top: 0%;
}

footer .wrapper #legal #links a svg {
    fill: var(--white);
    width: auto;
    height: 40px;
    position: relative;
    z-index: 2;
}

footer .wrapper #more-info {
    max-width: 60%;
    width: 100%;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

footer .wrapper #more-info .info-type {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .wrapper #more-info .title {
    color: var(--white);
    font-size: var(--fn-1);
}

footer .wrapper #more-info .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .wrapper #more-info .info a {
    border-bottom: 2px solid transparent;
    color: var(--white);
    font-size: var(--fn-3);
    font-weight: 200;
    width: max-content;
    text-decoration: none;
    transition: 0.2s;
}

footer .wrapper #more-info .info a:hover {
    border-bottom: 2px solid var(--primary);
}

footer .wrapper #more-info .info .email {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

footer .wrapper #more-info .info .email input {
    background-color: transparent;
    border: 0;
    color: var(--white);
    font-size: var(--fn-3);
    font-weight: 200;
    outline: none;
}

footer .wrapper #more-info .info .email input::placeholder {
    color: var(--white);
    font-size: var(--fn-3);
    font-weight: 200;
}

footer .wrapper #more-info .info .email button {
    flex-shrink: 0;

    background-color: transparent;
    border: 0;
    padding: 0;
}

footer .wrapper #more-info .info .email button svg {
    width: auto;
    height: 18px;
}

footer .wrapper #more-info .info .email:has(button:hover) {
    background-color: var(--primary);
}