body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#page__landing {
    /* max-width: 1366px; */
}

#page__landing #header {
    background-color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #header .wrapper {
    max-width: 1366px;
    padding: var(--padding-v) var(--padding-h);
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: space-between;
}

#page__landing #header #headline {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#page__landing #header .title {
    flex-shrink: 1;

    font-size: var(--h1);
    line-height: 80px;
}

#page__landing #header .sub-title {
    color: var(--gray);
}

#page__landing #header .highlight {
    color: var(--primary);
}

#page__landing #header .icon {
    flex-shrink: 0;
}

#page__landing #header .icon svg {
    width: 400px;
    height: auto;
    display: block;
}

#page__landing #affiliations {
    padding: 48px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page__landing #affiliations .wrapper {
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page__landing #affiliations .title {
    color: var(--d-gray);
    font-size: var(--h2);
    text-align: center;
}

#page__landing #affiliations .sub-title {
    color: var(--gray);
}

#page__landing #affiliations #logo-affiliates {
    width: 100%;
    padding-top: 28px;
    overflow: hidden;
    white-space: nowrap;
}

#page__landing #affiliations #logo-affiliates .logo-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #affiliations #logo-affiliates .logo-icons.copy {
    display: none;
}

#page__landing #affiliations #logo-affiliates .logo-icons svg {
    width: auto;
    height: 48px;
    margin: 0 64px;
    display: inline-block;
}

#page__landing #target-clients {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__landing #target-clients .wrapper {
    max-width: 1366px;
}

#page__landing #target-clients .headline {
    text-align: center;
}

#page__landing #target-clients .headline .title {
    color: var(--d-gray);
    font-size: var(--h2);
    max-width: 550px;
}


#page__landing #target-clients .headline .sub-title {
    color: var(--gray);
}