<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../../buttons/button.css">
    <link rel="stylesheet" href="blog-card.css">
    <title>Blog Card</title>
</head>

<body style="height: 100dvh; display: flex; align-items: center; justify-content: center;">
    <article class="component blog-card fn-semi-bold" id="blog-1">
        <img src="../../../assets/img/image-2.png" alt="Blog Image" class="blog-img">
        <div class="heading">
            <div class="title">
                Creating Streamlined Safeguarding Processes with OneRen
            </div>
            <div class="action">
                <button type="button" class="component simple b-radius no-bg">
                    <span class="text">
                        <span class="letter">R</span>
                        <span class="letter">e</span>
                        <span class="letter">a</span>
                        <span class="letter">d</span>
                        <span class="letter"> </span>
                        <span class="letter">m</span>
                        <span class="letter">o</span>
                        <span class="letter">r</span>
                        <span class="letter">e</span>
                    </span>
                </button>
            </div>
        </div>
    </article>
</body>

</html>