<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="responsive-navbar.css">
    <link rel="stylesheet" href="../buttons/button.css">
    <title>Navbar</title>
</head>

<body style="background-color: var(--white); overflow-x: hidden;">
    <nav class="component navbar h-padding v-padding">
        <div class="wrapper">
            <div id="left">
                <div id="logo">
                    <img src="../../assets/logo/Ninevector logo.png" alt="Business Logo" style="height: 40px; width: auto;" />
                </div>
            </div>
            <div id="right">
                <ul class="cursor-pointer" id="navigations">
                    <li class="navigation"><a href="#">Home</a></li>
                        <li class="navigation"><a href="#header">Home</a></li>
                        <li class="navigation"><a href="#feature-1">Features</a></li>
                        <li class="navigation"><a href="#community">Community</a></li>
                        <li class="navigation"><a href="#blog">Blog</a></li>
                        <li class="navigation"><a href="#pricing">Pricing</a></li>
                </ul>
                <button type="button" class="component simple b-radius">
                    <span class="text">
                        Register Now
                    </span>
                    <span class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16 16L19.2929 12.7071C19.6834 12.3166 19.6834 11.6834 19.2929 11.2929L16 8M19 12L5 12"
                                stroke="white" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div id="side-navigation" class="show slide">
            <ul class="cursor-pointer" id="navigations">
                <li class="navigation"><a href="#">Home</a></li>
                    <li class="navigation"><a href="#header">Home</a></li>
                    <li class="navigation"><a href="#feature-1">Features</a></li>
                    <li class="navigation"><a href="#community">Community</a></li>
                    <li class="navigation"><a href="#blog">Blog</a></li>
                    <li class="navigation"><a href="#pricing">Pricing</a></li>
            </ul>
            <button type="button" class="component simple b-radius">
                <span class="text">
                    Register Now
                </span>
                <span class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 16L19.2929 12.7071C19.6834 12.3166 19.6834 11.6834 19.2929 11.2929L16 8M19 12L5 12"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
        </div>
    </nav>
    <script type="module">
        import Navbar from './navbar.js';

        const body = document.body;

        Navbar.render(body);
    </script>
</body>

</html>