.component.simple-card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 2px 1px rgba(171, 190, 209, 0.3);
    max-width: 100%;
    padding: 22px;
    transition: 0.2s;
}

.component.simple-card .graphics {
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component.simple-card svg {
    width: auto;
    height: 65px;
}

.component.simple-card .title {
    color: var(--d-gray);
    font-size: var(--h3);
    margin-bottom: 6px;
    line-height: 120%;
    text-align: center;
}

.component.simple-card .description {
    color: var(--gray);
    text-align: center;
}

.component.simple-card:hover {
    box-shadow: 0 3px 5px 0px rgba(171, 190, 209, 0.3);
    transform: scale(1.05);
}